
/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

/* Header */
header {
    background-image: url('../image/ariereplan.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    font-weight: bold;
    font-size: 26px;
}

header h1 {
    margin: 0;
}

/* Navigation */
nav {
    display: flex;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #000000;
}

/* Main content */
main {
    background-color: #000000;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

main h1 {
    font-size: 36px;
    color: #fff4f4;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

main p {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
}

/* Formulaire */
form {
    background-color: #3d3c3cb7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 700px;
    font-size: 24px;
}

/* Image container */
.image-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.image-container img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}

.image-container h3 {
    font-size: 24px;
    font-weight: bold;
    color: #e2e2e2;
    margin-top: 0;
}

.image-container p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
    max-width: 600px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    color: #ffffff;
    background: #000000;
}

/* Media Queries pour les petits écrans (mobiles) */
@media (max-width: 480px) {
    /* Masquer les images spécifiques */
    .right-image, .right-image2, .right-image3, .right-image4 {
        display: none !important;
    }

    body {
        font-size: 14px;
    }

    header h1 {
        font-size: 28px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        padding: 8px 15px;
    }

    main {
        padding: 10px;
        margin: 10px;
    }

    main h1 {
        font-size: 24px;
    }

    main p {
        font-size: 14px;
    }

    footer p {
        font-size: 12px;
    }

    .section-link {
        font-size: 20px;
    }

    .image-container img {
        width: 80%;  /* Les images prennent toute la largeur */
        height: 80%; /* Pour maintenir le ratio de l'image */
    }

    /* Ajustement des sections */
    .image-container {
        margin-bottom: 20px;
    }
}

/* Media Queries pour les écrans de taille moyenne (tablettes) */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    header h1 {
        font-size: 32px;
    }

    main h1 {
        font-size: 28px;
    }

    main p {
        font-size: 16px;
    }

    .image-container img {
        width: 200px;
        height: 200px;
    }

    .right-image, .right-image2, .right-image3, .right-image4 {
        display: none !important; /* Masquer les images pour les écrans moyens */
    }
}

/* Pour les écrans plus larges (ordinateurs) */
@media (min-width: 769px) {
    /* Afficher les images seulement sur les écrans larges */
    .right-image, .right-image2, .right-image3, .right-image4 {
        display: block !important;
    }
}
