body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-image: url('../image/ariereplan.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    font-weight: bold;
    font-size: 26px;
}

header h1 {
    margin: 0;
}

nav {
    display: flex; 
}

nav ul {
    display: flex;
    margin: 0; 
    padding: 0;
    list-style-type: none; 
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #000000;
}

main {
    background-color: #000000;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

main h1 {
    font-size: 36px;
    color: #fff4f4;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

main p {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
}

.section-link {
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7), -3px -3px 5px rgba(0, 0, 0, 0.7), 3px -3px 5px rgba(0, 0, 0, 0.7), -3px 3px 5px rgba(0, 0, 0, 0.7);
}

section {
    background: #000000;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

section h2 {
    color: #e2e2e2;
    margin-top: 0;
    font-size: 24px;
}

section h3 {
    color: #e2e2e2;
    margin-top: 0;
    font-size: 28px;
    font-weight: bold;
}

section h4 {
    color: #e2e2e2;
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

section p {
    line-height: 1.6; 
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    max-width: 800px;
}

footer {
    text-align: center;
    padding: 10px 0;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.image-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin: 20px 0;
}

.image-container img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}

.image-container h3 {
    font-size: 24px;
    font-weight: bold;
    color: #e2e2e2;
    margin-top: 0;
    margin-bottom: 10px;
}

.image-container p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
    max-width: 600px;
}

form {
    background-color: #3d3c3cb7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    height: 400px;
    width: 700px;
    margin-left: auto;
    margin-right: 0;
    font-size: 24px;
}

.field-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.field {
    flex: 1;
    margin-right: 10px;
}

.field:last-child {
    margin-right: 0;
}

form label {
    color: #ffffff;
}

form input[type="text"],
form input[type="tel"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e60f0f;
    border-radius: 4px;
    font-size: 16px;
}

.short-input {
    width: 200px;
    padding: 10px;
}

form input[type="text"]:focus,
form input[type="tel"]:focus {
    border-color: #ff0000;
    outline: none;
}

form input[type="submit"] {
    background-color: #db1212;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #d80e0e;
}

input[name="address"],
input[name="city"] {
    width: calc(100% - 22px);
}

h2 {
    font-size: 24px;
    color: #fff4f4;
    margin-bottom: 10px;
}

h1 {
    font-size: 60px;
    color: #fff4f4;
    margin-left: auto;
    margin-right: auto;
}

.special-paragraph {
    font-family: Arial, sans-serif;
    font-size: 26px;
    line-height: 1.5;
    color: #0c0b0b;
    margin: 20px auto;
    padding: 10px;
    border-radius: 0;
    width: 80%;
    text-align: center;
    font-weight: bold;
}

.schedule-background {
    background-color: #575757cc;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 20px auto;
}

footer p {
    text-align: center;
    padding: 10px 0;
    background: #000000;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.right-image {
    position: absolute;
    top: 610px;
    right: 625px;
    width: 400px;
    height: 350px;
    margin: 10px;
}

.right-image2 {
    position: absolute;
    top: 610px;
    right: 0px;
    width: 600px;
    height: 350px;
    margin: 10px;
}

.right-image3 {
    position: absolute;
    top: 200px;
    right: 50px;
    width: 400px;
    height: 400px;
    margin: 10px;
}

.right-image4 {
    position: absolute;
    top: 200px;
    right: 525px;
    width: 500px;
    height: 400px;
    margin: 10px;
}

.contact-info {
    background-color: #3b3b3b;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    color: #e6e6e6;
    height: 400px;
    width: 800px;
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.contact-info a {
    color: #007BFF;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.facebook-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 5px;
    text-align: center;
}

.contact-info span {
    display: block;
    margin-bottom: 5px;
}

.video-container {
    display: flex;
    justify-content: center;
}

video {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    header {
        display: flex;  /* Ajout de display: flex */
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    nav ul {
        display: flex;  /* Ajout de display: flex */
        flex-direction: column;
        margin-top: 10px;
        padding-left: 0;  /* Enlever les marges gauche inutiles */
        align-items: center;
    }

    .field-group {
        flex-direction: column;
    }

    .field {
        margin-right: 0;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 40px;
    }

    form {
        width: 95%;
        margin: 0 auto;
        
       .map-container iframe {
        height: 180px; /* Réduire la hauteur de la carte */
        width: 100%;  /* Largeur à 100% pour s'adapter à l'écran */
           border: 0;
    }

    /* Réduction de la taille des informations de contact */
    .contact-info {
        font-size: 12px; /* Réduire la taille du texte */
        width: 95%; /* Largeur maximisée */
    }

    /* Réduire la taille des champs du formulaire */
    input[type="text"],
    input[type="tel"] {
        font-size: 12px;
    }

    input[type="submit"] {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 32px;
    }

    main h1 {
        font-size: 28px;
    }

    li {
        font-size: 16px;  /* Réduire la taille du texte des éléments */
        line-height: 1.4; /* Réduire l'espacement des lignes */
        text-align: left;
    }

    .image-container img {
        width: 180px;  /* Réduire la taille des images */
        height: 180px;
    }

    /* Cacher les images sur les petits écrans */
    .right-image, .right-image2, .right-image3, .right-image4 {
        display: none !important;
    }

    /* Ajustement de la taille de la carte pour les écrans de 480px et moins */
    .map-container iframe {
        width: 100%;  /* Largeur à 90% pour les petits écrans */
        height: 180px;  /* Réduire la hauteur pour mieux s'adapter */
    }

    /* Réduction de la taille du texte des informations de contact */
    .contact-info {
      font-size: 14px;  /* Réduire encore plus la taille du texte */
        width: 100%;  /* Largeur complète pour s'adapter à l'écran */
        padding: 15px;  /* Ajouter du padding pour plus d'espace */
        text-align: center; /* Centrer le texte */
        margin-bottom: 15px; /* Espacement entre les sections */
        box-sizing: border-box; /* Assurer que le padding ne dépasse pas la largeur */
        height: auto;

     form input[type="text"],
    form input[type="tel"],
    form input[type="submit"] {
       font-size: 12px;
        padding: 6px;
        width: 100%;  /* Champs de formulaire prennent toute la largeur */
        margin-bottom: 10px;  /* Espacement entre les champs */
      box-sizing: border-box;
    }
    .map-container,
    .contact-info,
    form {
        display: block;  /* Afficher chaque élément en bloc pour qu'ils soient empilés */
        width: 100%; /* Largeur à 100% */
        margin-bottom: 15px; /* Ajouter de l'espacement entre les éléments */
    }
        

    
}

@media (min-width: 769px) {
    /* Les images seront visibles sur les écrans plus larges */
    .right-image, .right-image2, .right-image3, .right-image4 {
        display: block !important; /* Afficher les images sur les écrans larges */
    }
}

/* Cacher les images en mode paysage sur petits écrans */
@media (max-width: 768px) and (orientation: landscape) {
    .right-image, .right-image2, .right-image3, .right-image4 {
        display: none !important;  /* Cacher les images en paysage */
    }

    body {
        font-size: 14px;
    }

    header h1 {
        font-size: 28px;
    }

    nav ul {
        flex-direction: row; /* Menu horizontal en mode paysage */
        align-items: center;
    }

    nav a {
        padding: 8px 15px;
    }

    .section-link {
        font-size: 20px;
    }

    main {
        padding: 10px;
        margin: 10px;
    }

    main h1 {
        font-size: 24px;
    }

    main p {
        font-size: 14px;
    }

    footer p {
        font-size: 12px;
        }
   .map-container iframe {
        width: 100%;  /* Largeur complète en mode paysage */
        height: 220px; /* Réduire encore la hauteur pour la vue paysage */
    }

    /* Ajuster la taille du texte et des éléments */
    .contact-info {
        font-size: 14px;
        width: 100%;
        height: auto;
         margin-bottom: 15px;
         box-sizing: border-box;
    }

     form input[type="text"],
    form input[type="tel"],
    form input[type="submit"] {
        font-size: 12px;
        padding: 6px;
        width: 100%;
        margin-bottom: 10px;
    }
      form {
        display: block;  /* En mode paysage aussi, les éléments doivent s'afficher les uns sous les autres */
        width: 100%;  /* Prendre toute la largeur de l'écran */
        margin-bottom: 20px; /* Ajouter un espacement entre les éléments */
    }
}

    


